
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.brandmark-section {
    text-align: center;
    color: #333;
    position: relative;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 150vh;
    justify-content: center;
    align-items: center;
    background-color: #f7b03e;
}

.menu-icon {
    position: absolute;
    top: 100px;
    right: 300px;
    cursor: pointer;
    z-index: 1000;
}

.menu-icon div {
    width: 25px;
    height: 3px;
    background-color: #f0e7e7;
    margin: 5px 0;
}

.content {
    max-width: 600px;
    margin: 0 auto; 
     padding-top: 100px; 
    

}

h1 {
    font-size: 5em;
    font-weight: bold;
    margin-top: 150px;
    margin-bottom: 30px;
    
    
}
h2{
    font-size: 35px;
    padding-bottom: 20px;
}
.highlight {
    color: white;
}
small {
    font-size: 1.5em;
    color: #444;
    padding-top: 10px;
}
/* Side Navigation Styles */
.side-nav {
    height: 100%;  
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #2c3e50;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 999;
    padding-top: 60px;
    padding-left: 0px;
}

.side-nav ul {
    list-style: none;
    padding: 0;
}

.side-nav li {
    padding: 15px 0;
    color: white;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.side-nav .side-nav-header {
    position: absolute;
    top: 20px;
    right: 20px;
    left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.side-nav .brandmark {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

.side-nav .close-icon {
    font-size: 2em;
    cursor: pointer;
    color: white;
}

.menu-arrow, .menu-icon {
    font-size: 1em;
    color: #7f8c8d;
}

/* Submenu styles */
.submenu {
    display: none;
    padding-left: 20px;
}

.submenu li {
    font-size: 1em;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Open and Close Side Nav */
.side-nav.open {
    width: 300px;
}

/* Display submenu when open */
.submenu.open {
    display: block;
}
button{
    margin-top: 100px;
    padding: 20px 55px 20px 55px;
    border-radius: 30px;
    border: none;
    color: white;
    background-color: #333;
    font-size: 20px;
}
.testimonial {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px; 
    background: linear-gradient(to right, #f3e5ad, #f8ad33);
    height: 52vh;
}

.testimonial-content {
    display: flex;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.quote {
    max-width: 50%;
    padding-right: 20px;
}

.quote p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
}

.author {
    font-weight: bold;
    color:black;
    padding-top: 20px;
}

.image img {
    max-width: 250px;
    height: 337px;
    border-radius: none;
    margin-right: 200px;
}
/* Brand Assets Section */

.radio-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
  }
  
  .radio-buttons input[type="radio"] {
    display: none;
  }
  
  .radio-buttons label {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .radio-buttons input[type="radio"]:checked + label {
    background-color: black;
  }
  

.brand-assets-section {
    background-color: #e4eeed;
    padding: 60px 20px;
    height: 207vh;

}

.assets-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 30px;
}

 .logos {
    display: flex;
    justify-content: center;
    gap: 30px;
    /* margin-bottom: 50px; */
    margin-top: 50px;
} 

.logo-item {
        font-size: 35px;
        font-weight: bold; 
        color: #b0b0b0; 
        opacity: 0.5; 
        transition: opacity 0.3s ease; 
}
.contentsec {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 70px;
}

 .image-container {
    flex: 1;
    padding: 100px;
    margin-top: -150px;
}
.image-container img{
    height: 300px;
    width: 330px;
    /* transform: translateY(-100px); */
    transform: translateX(150px);
} 

.firsthr{
    background-color: rgba(181, 209, 241, 0.884);
    height: 15px;
    border: none;
    width: 290px;

}

.text-container {
    flex: 1;
    padding: 20px;      
    text-align: left;
}

.text-container h2 {
    font-size: 1.7em;
    margin-bottom: 20px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.text-container p {
    font-size: 1em;
    margin-bottom: 20px;
    color: #a19f9f;
    font-family: Arial, Helvetica, sans-serif;
}

.highlight-text {
    color: #8e8f91;
    font-weight: bold;
}

.assets-list {
    list-style-type: none;
    padding: 0;
}

.assets-list li {
    font-size: 0.98em;
    margin: 10px 0;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.assets-list li::before {
    content: "✔";
    color: #34a1eb;
    margin-right: 10px;
    font-weight: bold;
}
.glob img{
    margin-left: 100px;
    transform: translateY(-175px);
    width: 150px;
}
.a{
    background-color: rgb(132, 221, 248);
    width: 230px;
    height:35px ;
    font-size: 15px;
    color: black;
    padding: 5px 5px 5px;
    margin-left: 300px;
    transform: translateY(-350px);
    font-weight: bold;
}
 .subsection{
    display: flex;
     margin-top: -180px; 
     justify-content: space-evenly;
     align-items: center;
     gap: 10px;
     text-align: justify;
} 
.secimg{
    margin-left: 80px;
}
.secimg img{
    width: 450px;
    height: 450px;
    filter: contrast(120%) brightness(110%) blur(0px);
}
.first p{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 24px;
}
.first h2{
    font-family: Arial, Helvetica, sans-serif;
}
.first{
    margin-bottom: 190px;
}
hr{
 height: 10px;
 background-color:lightgreen;
 border: none;
}


.five {
    background-color: #4e91e9;
    height: 115vh;
}
.section{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 20px;
}
.sub {
    text-align: center;
    color: white;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}
.sub h4{
    font-size: 20px;
    font-weight: lighter;
    margin-top: -28px;
}


.left-section, .right-section {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    text-align: justify;
}
.right-section h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 140px;
}
.right-section p{
margin-right: 150px;
}
.right-section{
    margin-top: -180px;
}
.left-section h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 150px;

}
.left-section p{
    padding-left: 160px;
}
.left-section{
    margin-top: -9px;
}
#b{
   padding-left: 140px;
}
.center-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    margin-top: 100px;
}

.bottom-section {
    grid-column: span 3;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.box {
    width: 150px;
    height: 150px;
}

.yellow {
     position: absolute; 
    background-color: #f8c145;
     margin-top: -560px; 
     margin-right: -1000px;
     transform: translateY(350px);
}

.black {
    background-color: #333333;
     margin-top: -60px;
    margin-right: -700px; 
    position: absolute;
    
}
.six{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #e4eeed;
}
.text h1{
    margin-top: 90px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.text h4{
    color: #7f8c8d;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
.white{
    margin-top: 210px;
    height: 300px;
    width: 300px;
    background-color: white;
    margin-right: -1px;
}
 .line{
    background-color: rgb(245, 196, 213);
    height: 15px;
    border: none;
    width: 260px;
}
.white h2{
    font-family:Arial, Helvetica, sans-serif ;
    padding-top: 140px;
    font-size: 25px;
    padding-left: 60px;
}
.grid_img{
    background-color: #e4eeed;
}
.grid_img img{
    margin-left: 390px;
}
.coner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    background-color: #e4eeed;
}

.feature {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    /* margin-right: -100px; */
    transform: translateX(200px);
}

.icon {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    margin-right: 40px;
}

.violet {
    background-color: #ee3cd0;

}


.green {
    background-color: #4fe468;
}

.red {
    background-color: #fa4e5d;
}

.orange {
    background-color: #f39e2f;
}
.brown{
    background-color: brown;
}

.feature:nth-child(odd) .icon {
    margin-left: 50px; 
}

.feature:nth-child(even) .icon {
    margin-left: 150px; 
}

.feature:nth-child(1) .icon {
    margin-left: 50px;
    margin-top: 55px;
}

.feature:nth-child(2) .icon {
    margin-left: 200px;
}

.feature:nth-child(3) .icon {
    margin-left: 50px;
}

.feature:nth-child(4) .icon {
    margin-left: 200px;
}
.feature:nth-child(5).icon{
    margin-left: 200px;
}

.cont {
    margin-left: 50px; 
}
.cont1{
    margin-left: 50px;
    margin-bottom: -30px;
}
.cont1 h3{
    transform: translateY(-10px);
    color: #ce7b7b;
    font-family: Arial, Helvetica, sans-serif;
}
.cont1 p{
    transform: translateY(-6px);
    color: #979393;
}

.cont h3 {
    margin: 0;
    font-size: 18px;
    color: #ce7b7b;
    font-family: Arial, Helvetica, sans-serif;
}

.cont p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #979393;
    font-family: Arial, Helvetica, sans-serif;
}

.ftrs__action {
    text-align: center
}
  
  .ftrs__action-title {
    margin-bottom: .1875em;
    color: #292e34;
    font-size: 2em;
    font-weight: 700;
    line-height: 1.21875em
  }
  
   .ftrs__action-note {
    color: rgba(41, 46, 52, .5);
    font-size: 1.125em;
    line-height: 1.44444em
  } 
.btn{
    background-color:rgb(128, 164, 194);
    margin-top: 50px;
    border: none;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(198, 228, 241, 0.2);
    transition: background 0.3s ease;
}
.btn:hover{
    background: linear-gradient(145deg,#6b8dff,#80a7f0);
}
.ftrs__action{
    background-color: #e4eeed;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    height: 50vh;
}
.lastsec{
    background-color:#252323;
    height: 130vh;
}
.segment{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 90px;
}
.one h3{
    color: rgb(224, 210, 15);
    font-family: Arial, Helvetica, sans-serif;
}
.segment h5{
    color: #707374;
    font-family: Arial, Helvetica, sans-serif;
}
.two h3{
    color: rgb(247, 68, 97);
    font-family: Arial, Helvetica, sans-serif;
}
.three h3{
    color: rgb(40, 209, 82);
}
.seg1{
    background-color: rgb(85, 80, 4);
    width: 130px;
}
.seg2{
    background-color: rgb(54, 22, 28);
    width: 80px;
}
.seg3{
    background-color: rgb(21, 51, 28);
    width: 50px;
}
#para{
    margin-top: 70px;
    color: #999696;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.three{
    margin-top: -80px;
}



.main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 90px;
}
.sqrs1{
    flex-direction: column;
}
.sqr1{
    height: 100px;
    width: 100px;
    background-color: aqua;
    margin-left: 80px;
}
.sqr2{
    height: 100px;
    width: 100px;
    background-color: lightcoral;
    margin-left: -20px;
}
.sqrs2{
    flex-direction: column;
    margin-top: 80px;
}
.sqr3{
    height: 100px;
    width: 100px;
    background-color: #4e91e9;
    transform: translateX(-100px);
}
.sqr4{
    height: 100px;
    width: 100px;
    background-color: lemonchiffon;
    transform: translateX(-1px);
}



